.wrapper-card {
  display: flex;
  margin: 5px 10px;
  padding: 10px;
  background: black;
  border: 2px solid #36ff14;
  max-width: 100%;
  border-radius: 8px;
  color: #ffffff;
  font-family: arial;
  text-align: left;
}

.title_content {
  font-size: 16px;
  color: #36ff14;
  font-weight: 400;
}
.parent-card {
  font-size: 12px;
}

.container {
  padding: 2px 16px;
}
